@model Soundify.Models.video

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Soundify - Home</title>

<div class="w3-half w3-teal w3-container w3-animate-bottom" style="height:700px">
    <div class="w3-padding-32 w3-center">
        <h1>YouTube File Converter</h1>
        <div class="w3-center w3-padding-large">
            <h4>Choose a destination file type:</h4>
            @using (Html.BeginForm("collectURL", "Home", FormMethod.Post)) {
                <div style="text-align:center">@Html.DropDownListFor(x => x.fileType, new List<SelectListItem> { new SelectListItem { Value = "mp3", Text = "mp3" }, new SelectListItem { Value = "wav", Text = "wav" }, new SelectListItem { Value = "mp4", Text = "mp4" }, new SelectListItem { Value = "flv", Text = "flv" }, new SelectListItem { Value = "mov", Text = "mov" }, new SelectListItem { Value = "wmv", Text = "wmv" } })</div>
                @Html.EditorFor(x => x.url, new { htmlAttributes = new { @class = "forms", placeholder = "e.g. https://www.youtube.com/watch?v=" } })
                <br /><h4>If you wish to trim your video, enter a start and end time</h4>
                <h5>(Hint: ##:## is translated as minutes:seconds)</h5>
                @Html.EditorFor(x => x.startTime, new { htmlAttributes = new { @class = "forms-medium", type = "text", placeholder = "Start Time, e.g. 01:24", min = "0", pattern = "^[0-5][0-9]:[0-5][0-9]{1,3}$" } })
                @:&nbsp;&nbsp;&nbsp;
                @Html.EditorFor(x => x.endTime, new { htmlAttributes = new { @class = "forms-medium", type = "text", placeholder = "End Time, e.g. 04:45", min = "0", pattern = "^[0-5][0-9]:[0-5][0-9]{1,3}$" } })
                <br /><br />
                <button class="w3-button w3-block w3-light-green w3-center w3-text-white" type="submit">Convert File</button>
                <label class="field-validation-error"><br />@Html.DisplayFor(x => x.message)</label>
            }
        </div>
    </div>
</div>